@import "../fonts/lato";
@import "../fonts/raleway";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: lato;
    line-height: 1.5;
    background: #585c68;
    color: #555555;
}

img {
    max-width: 100%;
}

.icon {
    fill: black;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}
